---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.code-sample-frame {
    border: 1px solid #000;
    border-width: 1px 1px 1px 5px;
    padding: 20px;
}